.input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: var(--text-400);
    border: 1px solid var(--color-secondary-4);
    border-radius: 4px;
    &-wrapper {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
}